Source: graalvm-ce-java11
Maintainer: Lee Dongjin <dongjin@apache.org>
Section: devel
Priority: optional
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://www.graalvm.org/

Package: graalvm-ce-java11
Architecture: amd64
Section: devel
Priority: optional
Depends: ca-certificates-java, java-common (>= 0.28)
Recommends: libxt-dev, nodejs-doc, r-doc-info, python3-doc
Provides: java10-runtime-headless, java11-runtime-headless, java2-runtime-headless, java5-runtime-headless, java6-runtime-headless, java7-runtime-headless, java8-runtime-headless, java9-runtime-headless, java-compiler, java-sdk, java10-sdk, java11-sdk, java2-sdk, java5-sdk, java6-sdk, java7-sdk, java8-sdk, java9-sdk
Description: GraalVM Community Edition (java11)
 GraalVM is a universal virtual machine for running applications written
 in JavaScript, Python, Ruby, R, JVM-based languages like Java, Scala,
 Groovy, Kotlin, Clojure, and LLVM-based languages such as C and C++.
 .
 This package provides all common JDK tools, along with the following additional tools:
 .
 .Java Tools
 .
 .- jvisualvm: A visualvm implementation for GraalVM.
 .
 Javascrtipt Tools
 .
 .- js: A high performance implementation of the JavaScript programming language, Built on the GraalVM.
 .- graal-node: A nodejs implementation built on the GraalVM.
 .- graal-npm: A package manager for nodejs.
 .- graal-npx: Executes npm package binaries.
 .
 .R Tools
 .
 .- graal-R: A GNU-compatible R runtime implementation built on the GraalVM.
 .
 .Python Tools
 .
 .- graal-python: A high-performance, Python 3.8 compliant runtime implementation built on the GraalVM.
 .
 .LLVM Tools
 .
 .- graal-clang
 .- graal-clang++
 .
 GraalVM Tools
 .
 .- gu: GraalVM Component Updater.
 .- lli: Run LLVM bitcode files on the GraalVM's lli.
 .- graal-native-image: GraalVM native-image building tool.

